body {
	--colorBackground: #fdfefd;
	--colorWhite: #fff;
	--colorPink: #a06f7d;
	--colorLightPink: #ae939b;
	--colorBlack: #433e3e;
	--fontSansSerif: Montserrat, sans-serif;
	--fontSerif: Prata, serif;
}

html {
	background: #fdfefd;
	color: #433e3e;
}

.logo {
	width: 6.8125rem;
	height: 5.6875rem;
	object-fit: contain;
}

.outline-button,
.flat-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	border-radius: 10rem;
	padding: 0 4.375rem;
}

.flat-button {
	background: var(--colorPink);
	color: var(--colorWhite);
}

.outline-button {
	border: var(--colorPink) solid 1px;
	color: var(--colorBlack);
}

.sansSerifTitle,
.serifTitle {
	font-size: 4.875rem;
	line-height: 90%;
	text-transform: lowercase;
}

.sansSerifTitle {
	font-weight: 200;
}

.serifTitle {
	font-family: var(--fontSerif);
	color: var(--colorPink);
}


