body {
	--colorBackground: #fdfefd;
	--colorWhite: #fff;
	--colorPink: #a06f7d;
	--colorLightPink: #ae939b;
	--colorBlack: #433e3e;
	--fontSansSerif: Montserrat, sans-serif;
	--fontSerif: Prata, serif;
}

::selection {
	background: var(--colorPink);
	color: var(--colorWhite);
}

::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
	background: #fff;
}

::-webkit-scrollbar-thumb {
	border: #fff solid 0.3rem;
	border-radius: 25rem;
	background: var(--colorPink);
}

html {
	background: #fdfefd;
	color: #433e3e;
	font-size: 14px;
}

section {
	margin-top: 7.5rem;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
	position: relative;
}

.inner {
	width: min(100%, 88rem);
}

.titles {
	display: flex;
	flex-direction: column;
}

.logo {
	width: 6.8125rem;
	height: 5.6875rem;
	object-fit: contain;
}

.outline-button,
.flat-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.75rem;
	border-radius: 10rem;
	padding: 0 4.375rem;
	transition: .2s ease-in-out;
	text-align: center;
}

.flat-button {
	background: var(--colorPink);
	color: var(--colorWhite);
	border: var(--colorPink) solid 1px;
}

.flat-button:hover {
	background: var(--colorBackground);
	color: var(--colorPink);
	border: var(--colorPink) solid 1px;
}

.outline-button {
	border: var(--colorPink) solid 1px;
	color: var(--colorBlack);
	background: var(--colorWhite);
}

.outline-button:hover {
	border: var(--colorPink) solid 1px;
	color: var(--colorBackground);
	background: var(--colorPink);
}

.sansSerifTitle,
.serifTitle {
	line-height: 90%;
	text-transform: lowercase;
}

.sansSerifTitle {
	font-weight: 200;
	font-size: 4.875rem;
}

.serifTitle {
	font-size: 3.5rem;
	font-family: var(--fontSerif);
	color: var(--colorPink);
}

.innerBlocks {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	justify-content: center;
}

.block {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc(33% - 1.25rem);
}

.blockImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blockBottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(#ffffffbb, #ffffff);
	backdrop-filter: blur(0.5rem);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
}

.blockTitle {
	font-family: var(--fontSerif);
	color: var(--colorPink);
	font-size: 1.25rem;
	text-transform: uppercase;
}

.labelCheckbox {
	display: flex;
	gap: 0.8rem;
	align-items: center;
	cursor: pointer;
	width: fit-content;
}

.inputCheckbox {
	width: 1.25rem;
	height: 1.25rem;
	appearance: none;
	border-radius: 0.25rem;
	background: var(--colorWhite);
	border: var(--colorPink) solid 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: inherit;
}

.inputCheckbox:before {
	content: '';
	width: 0.875rem;
	height: 0.875rem;
	background: var(--colorPink);
	border-radius: 0.15rem;
	transform: scale(0);
	transition: 0.15s linear;
}

.inputCheckbox:checked:before {
	transform: scale(1);
}

.label {
	padding: 1rem 2rem;
	background: var(--colorWhite);
	border: var(--colorPink) solid 1px;
	border-radius: 0.75rem;
}

.input {
	width: 100%;
}

.error {
	color: #f02;
}

.admin {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	padding-bottom: 4rem;
}

.adminWrapper {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding-bottom: 4rem;
}

.adminTitle {
	font-size: 1.5rem;
	margin-top: 1rem;
}

.users {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;
}

.applications {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: min-content;
	grid-auto-flow: dense;
}

.users > div, .applications > div {
	outline: #333 solid 1px;
	background: var(--colorBackground);
	padding: .5rem;
	font-family: monospace;
	word-wrap: anywhere;
}

.textareaLabel {
	padding: 0;
}

textarea {
	width: 100%;
	resize: vertical;
	min-height: 10rem;
	max-height: 30rem;
	border: none;
	outline: none;
	border-radius: inherit;
	padding: 1rem;
}

.services {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.services > div {
	outline: #333 solid 1px;
	background: var(--colorBackground);
	padding: .5rem;
	font-family: monospace;
	word-wrap: anywhere;
}

.servicesForm {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column: 1/7;
}

.servicesForm > * {
	outline: #333 solid 1px;
	background: var(--colorBackground);
	height: 100%;
	width: 100%;
}

.servicesForm input, .servicesForm textarea, .servicesForm span {
	padding: .5rem;
	width: 100%;
	font-family: monospace;
}

.inputFile {
	width: 100%;
	font-size: .7rem;
}