* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
}

button,
input {
	border: none;
	outline: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	background: none;
}

button {
	cursor: pointer;
}

a {
	cursor: pointer;
	color: inherit;
}